  .nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: bisque;
    border-radius: 25px;
    text-align: center;
    transition:  1s;
}
.nav a{
    display: flex;
    text-decoration: none;
    color: black;
 
    padding: 10px 12px;

   
}

.nav a:hover{
    color: brown;
    background-color: white;
    border-radius: 10px;
    transition: 1s;
}



/*  */

.Nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    transition:  1s;
}
.Nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px 12px;

   
}

a:hover{
    color: brown;
     
} 


nav div .actived {
    color: red;
    border-radius: 10px;
}

