

.app{
  background-color: black;
  margin: 0 auto;
  min-height: 800px;
  max-width: 1600px;
}


.App{
  background-color:blanchedalmond;
  margin: 0 auto;
  min-height: 800px;
  max-width: 1600px;
}

